<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>{{t 'name'}}</th>
      <th>{{t 'published'}}</th>
      <th>{{t 'actions'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each certificationIdentifiers}}
      <tr>
        <td>
          {{@key}}
        </td>
        <td>
          {{name}}
        </td>
        <td>{{#if published}}
          <i class="glyphicon glyphicon-check text-success"><span class="sr-only">{{t 'published'}}</span></i>
        {{else}}
          <i class="glyphicon glyphicon-unchecked text-warning"><span class="sr-only">{{t 'unpublished'}}</span></i>
        {{/if}}</td>
        <td>
          {{#link-to 'cfcertification.updateTemplate' ../event.id @key class="btn btn-default btn-sm"}}
            {{#if id}}
              {{t 'edit'}}
            {{else}}
              {{t 'add'}}
            {{/if}}
          {{/link-to}}

          {{#if id}}
            {{#link-to 'cfcertification.previewTemplate' ../event.id @key class="btn btn-default btn-sm" target="_blank"}}
              {{t 'preview'}}
            {{/link-to}}
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{#if haveAllTemplates}}
  {{#if cfregistrationtypes}}
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>{{t 'name'}}</th>
          <th>{{t 'actions'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each cfregistrationtypes}}
          <tr>
            <td>{{id}}</td>
            <td>{{name}}</td>
            <td>
              <form style="display: inline;" action="/event/{{eventId}}/admin/cfregistrationtype/{{id}}/mark-all-as-present" method="post">
                <input name="redirectTo" type="hidden" value="{{../../req.path}}">
                <button class="btn btn-sm btn-default">{{t 'cfcertificationtype.markAllAsPresent'}}</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot></tfoot>
    </table>
  {{/if}}
  {{#if cfsessions}}
    <table class="table  table-bordered table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>{{t 'name'}}</th>
          <th>{{t 'actions'}}</th>
        </tr>
      </thead>
      <tbody>
        {{#each cfsessions}}
          <tr>
            <td>{{id}}</td>
            <td>{{title}}</td>
            <td>
              <form style="display: inline;" action="/event/{{eventId}}/admin/cfsession/{{id}}/mark-all-as-present" method="post">
                <input name="redirectTo" type="hidden" value="{{../../req.path}}">
                <button class="btn btn-sm btn-default">{{t 'cfcertificationtype.markAllAsPresent'}}</button>
              </form>
            </td>
          </tr>
        {{/each}}
      </tbody>
      <tfoot></tfoot>
    </table>
  {{/if}}
{{else}}
  {{t 'cfcertification.not-avaible'}}
{{/if}}