<div class="actions">
  {{#if data.id}}
    {{#link-to 'cfcertification.previewCFRTypeTemplate' event.id req.params.cfregistrationtypeId class="btn btn-default btn-sm" target="_blank"}}
      <span class="glyphicon glyphicon-eye-open"></span> {{t 'form-cfcertification-template-preview'}}
    {{/link-to}}

    <div class="btn-group" role="group">
      <button type="button" class="disabled btn btn-default btn-sm"  disabled >
        {{t 'Cfcertifications'}}:
        {{metadata.certificationsCount}} / {{metadata.CFRTregistrationCount}}
      </button>

      {{#if metadata.CFRTregistrationCount}}
        {{#link-to 'cfcertification.generateAllCFRTypeCertifications' event.id req.params.cfregistrationtypeId class="btn btn-default btn-sm"}}
          {{t 'cfcertification.generate'}}
        {{/link-to}}
      {{/if}}
    </div>
  {{/if}}
</div>
{{{form 'cfcertification-template' data validationError}}}